.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.card-wrapper {
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 10px #0000001a;
}

/* home-wrapper-2 part */

.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

.homeIcon {
  font-size: 30px !important;
}

.categories {
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 10px #0000001a;
}

.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3) {
  border-right: 1px solid var(--color-ededed);
}

.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}

.categories > div > div {
  width: 60%;
}

.categories > div img {
  width: 60%;
  object-fit: cover;
}

.card-wrapper > div img {
  width: 80px;
  object-fit: cover;
}

.carousel-item {
  height: 40vh !important;
}
