h1 {
  color: gray;
  text-align: center;
  margin-top: 100px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.input {
  width: 500px;
  height: 50px;
  /* border-radius: 15px; */
}
.card1 {
  max-width: 700px;
  width: 100%;
  margin: auto;
}
.input-group {
  display: flex;
  justify-content: center;
}

body {
  background-image: url("./gradient-F6C344.svg");
}
.zasah {
  color: red;
  font-size: 20px;
}
.ilgeeh {
  color: green;
  font-size: 20px;
}
