.homePageList {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.homePageImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.homePageItem {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
  color: darkblue;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 30px;
}

.homePage {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
