.user {
  flex: 4;
  padding: 20px;
}

.userTitleContainer {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: darkblue;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.userContainer {
  display: flex;
}

.userShow {
  flex: 1;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 1px 10px 25px -14px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 1px 10px 25px -14px rgba(0, 0, 0, 0.66);
}

.userUpdate {
  flex: 2;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 1px 10px 25px -14px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: 1px 10px 25px -14px rgba(0, 0, 0, 0.66);
  margin-left: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.userShowUserName {
  font-weight: 600;
  color: #444;
}

.userShowUserTitle {
  font-weight: 300;
}

.userShowBottom {
  margin-top: 20px;
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.userShowIcon {
  font-size: 16px !important;
}

.userShowInfoTitle {
  margin-left: 10px;
}

.userUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.userUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.userUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.userUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userUpdateUpload {
  display: flex;
  align-items: center;
}

.userUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.userUpdateinput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.userUpdateIcon {
  cursor: pointer;
}

.userUpdateButton {
  border-radius: 5px;
  padding: 5px;
  border: none;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
