.listItem {
  display: flex;
  justify-content: space-between;
  background-color: rgb(251, 251, 255);
  border-radius: 10px;
  border: 1px solid #ededed;
  padding: 20px;
  margin-bottom: 20px;
}

.btnEdit {
  margin-right: 15px;
  cursor: pointer;
}

.btnDelete {
  color: red;
  cursor: pointer;
  font-size: 20px;
}
