.special-product-card {
  background-color: white;
  border-radius: 10px;
}

.special-product-img {
  width: 60%;
}

.special-product-img img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px 0 0 10px;
}
