.product-card {
  background-color: white;
  border-radius: 10px;
  /* overflow: hidden; */
  width: 100%;
}

.product-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
}

/* .product-card:hover .action-bar {
  right: 15px;
} */

/* .product-card .product-img img:last-child {
  display: none;
} */

/* .product-card:hover .product-img img:nth-child(1) {
  display: none;
  transition: 0.3s;
} */

/* .product-card:hover .product-img img:last-child {
  display: block;
} */

.product-img img {
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
/* .product-img {
  height: 270px;
} */

.product-card .product-detials h6 {
  font-size: 13px;
  color: #bf4800;
}
.procduct-card .product-detials p.price {
  font-size: 15px;
  color: var(--color-1c1c1b);
}

.product-card p.description {
  font-size: 13px;
  color: var(--color-777777);
  margin-right: 25px;
}

.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
}

.productCardIcon {
  color: #131921;
}
.wishlist-icon {
  color: #131921;
  top: 3%;
  right: 15px;
}

.gr-12 {
  width: 100%;
}
.gr-6 {
  width: 49%;
}
.gr-4 {
  width: 32%;
}
.gr-3 {
  width: 24%;
}

.gr-12 .product-card {
  display: flex;
  gap: 20px;
}

.gr-12 .product-card .product-img {
  width: 270px;
}

.gr-6 .product-img {
  width: 100%;
}

.gr-6 .product-img img {
  margin: auto;
  display: block;
}

.gr-12 .action-bar {
  top: 22%;
}

.gr-12 .product-card .product-img {
  height: auto;
}
