.bottom {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  width: 100%;
  height: 8vh;
}
.bottomBody {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.par {
  display: flex;
  align-items: center;
  margin: 0;
  width: 40%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.bottomTop {
  display: flex;
  align-items: center;
}
.par1 {
  margin: 0;
  margin-left: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.bottomBottom {
  display: flex;
  align-items: center;
}
