.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px 25px;
}

.store-wrapper {
  background-color: var(--color-f5f5f7);
}

.filter-card ul,
.filter-card .form-check-label {
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--color-777777);
  cursor: pointer;
}

.filter-card .form-check-input:focus {
  box-shadow: none;
}

.sub-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
  color: var(--color-1c1c1b);
  margin-bottom: 15px;
}

.colors li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.colors li:nth-child(2) {
  background-color: blue;
}
.colors li:nth-child(3) {
  background-color: greenyellow;
}

.colors li:nth-child(4) {
  background-color: black;
}

.colors li:nth-child(5) {
  background-color: pink;
}

.colors li:nth-child(6) {
  background-color: yellow;
}

.colors li:nth-child(7) {
  background-color: brown;
}

.random-products h5 {
  font-size: 14px;
  margin-bottom: 8px;
}

.random-products:first-child {
  border-bottom: 1px solid var(--color-ededed);
}

.filter-sort-grid {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
