.clientTopSide {
  display: flex;
  justify-content: space-between;
  background-color: darkblue;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  align-items: center;
}

.clientTopSideRight {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.topBarClient {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid rgb(218, 216, 216);
}

.topBarCenter {
  width: 40%;
  display: flex;
  align-items: center;
}

.clientTopBarInput {
  width: 100%;
  height: 30px;
  border-radius: 10px 0 0 10px;
  border: 3px solid darkblue;
  position: relative;
}

.topBarRight {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: darkblue;
}

.clientTopBarButton {
  width: 80px;
  border-radius: 0 10px 10px 0;
  border: none;
  background-color: darkblue;
  height: 30px;
  color: white;
}
