footer {
  background-color: var(--color-232f3e);
}

footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  border-radius: 25px;
  font-size: 14px;
  padding: 13px 33px;
}

.button:hover {
  background-color: var(--color-bf4800);
  color: #131921;
}
