.categories {
  flex: 4;
  padding: 30px;
  margin: 0;
  background-color: rgb(247, 247, 251);
}
.categories > div {
  width: 100%;
}
.categoriesTitle {
  display: flex;
  justify-content: space-between;
}

.categoriesPageTop {
  display: flex;
  justify-content: space-between;
}
.categories > div:nth-child(2) {
  border-right: none;
}

.categories > div:nth-child(1) {
  border-right: none;
}

.categoriesRightSide {
  border-radius: 10px;
  border: 1px solid #ededed;
  padding: 30px;
  background-color: white;
  color: #555;
}
.categoriesRightSide h6 {
  border-bottom: 1px solid #ededed;
  padding: 20px;
}

.categoriesButtons {
  display: flex;
  justify-content: space-around;
}

.categoriesButtonGreen {
  background-color: #00d97e;
  color: #fff;
  border-radius: 18px;
  padding: 5px 15px;
  border: none;
}
