/* Browse drop down style */
.menu {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  display: flex;
  height: 7vh;
  justify-content: space-between;
}
.menuBody {
  width: 100%;
  background-color: #f4f4f4;
}
.browseDropDownText:hover {
  background-color: #eda415;
}
.down {
  background-color: #eda415 !important;
}
.downDown {
  color: #f4f4f4 !important;
}
.downDown:hover {
  background-color: #e99f09;
}
.browseDropDownText {
  font-family: poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  height: 7vh;
  background-color: #eda415;
  border: 0;
  border-radius: 0;
}
.browseDropDown {
  width: 20%;
}
.menuDrop {
  width: 60%;
  justify-content: start;
  gap: 40px;
}

.browseDropDownText::after {
  display: none !important;
}
.homeDrop::after {
  display: none !important;
}
.btn-primary {
  --bs-btn-active-bg: #eda415;
}
.homeDrop.btn-primary {
  --bs-btn-active-bg: #f4f4f4;
  color: #292d32;
}
.homeDrop:hover {
  background-color: #f4f4f4;
}

/* Home dropdown style ehelj baina */

.homeDrop {
  height: 7vh;
  color: #292d32;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: 0;
  border-radius: 0;
  background-color: #f4f4f4;
}
a.homeDrop {
  display: flex;
  align-items: center;
}
p.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #003f62;
  margin: 0;
}
.dropdown-menu {
  background-color: transparent;
  border: transparent;
  border: none;
}
