.clientSideBar {
  background-color: rgb(251, 251, 255);
  height: 60px;
  display: flex;
  align-items: center;
}

.clientLink {
  text-decoration: none !important;
  display: flex;
  align-items: center;
}

.clientSideBarLeft {
  width: 40%;
  display: flex;

  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.clientSideBarLeftTitle {
  display: flex;
  align-items: center;
  color: darkblue;
  cursor: pointer;
}

.DropDown {
  background-color: rgb(251, 251, 255) !important;
  color: darkblue !important;
  border: none !important;
}

.dropDownMenu {
  background-color: rgb(251, 251, 255) !important ;
}

.dropDownItem {
  color: darkblue !important;
}
