.header {
  background-color: #003f62;
  height: 10vh;
}
#search {
  width: 350px;
}
a {
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.user {
  display: flex;
  align-items: center;
}
.icon {
  font-size: 25px;
}
.searchInput ::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.searchButton {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
