.newProduct {
  flex: 4;
}

.addProductForm {
  margin-top: 10px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductImg {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}

.addProductIcon {
  font-size: 40px !important;
  color: darkblue;
}

.addProductItem > label {
  margin-bottom: 10px;
  color: gray;
  font-weight: 600;
}
.addProductButton {
  background-color: darkblue;
  border: none;
  padding: 7px 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}

.addProductItem > input {
  margin-bottom: 10px;
}

.addProductItem > select {
  margin-bottom: 10px;
}
